#chat-bubbler {
    position: absolute;
    right: 5%;
    bottom: 8%;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#name-header {
    text-align: center;
    margin: auto;
}

#chat-box {
    margin: auto;
    width: 50%;
    height: 90vh;
    border-radius: 25px;
    box-shadow: 0 0 15px #999;
}

.header-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
}

#close-button {
    position: absolute;
    top: 25px;
    right: 15px;
}

:host ::ng-deep {
    .message.not-reply nb-chat-message-text .text {
        background-color: #11A63D !important;
        color: white;
    }

    .message.reply nb-chat-message-text .text {
        background-color: #e5e5e5;
    }

    nb-chat-form .send-button {
        background-color: #11A63D !important;
    }

    #chat-box .header {
        border-radius: 25px;
    }

    nb-chat-form .message-row .send-button {
        border-color: lightgray;
    }

    nb-chat-form .message-row .send-button:hover {
        background-color: green !important;
    }
}

.chat-bubble {
    display: inline-block;
    background-color: #eee;
    padding: 10px;
    border-radius: 20px;
    animation: typing 1s infinite alternate;
  }
  
  @keyframes typing {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
